@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.login-card-header{
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Quicksand', sans-serif;
}